In [1]:
import pandas as pd
import numpy as np
#pd.set_option('max_columns', 120)
#pd.set_option('max_colwidth', 5000)

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
plt.rcParams['figure.figsize'] = (12,8)

In [2]:
filtered_loans = pd.read_csv('filtered_loans_2007_test1.csv')
#drop_cols = ['last_credit_pull_d','title']
#filtered_loans = filtered_loans.drop(drop_cols,axis=1)
print(filtered_loans.shape)
filtered_loans.head()

(39239, 22)

,loan_amnt,term,installment,grade,emp_length,home_ownership,annual_inc,verification_status,loan_status,purpose,...,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,pub_rec_bankruptcies,fico_average
0,5000,36 months,162.87,B,10+ years,RENT,24000.0,Verified,1,credit_card,...,0,Jan-85,1,3,0,13648,0.837,9,0.0,737
1,2500,60 months,59.83,C,< 1 year,RENT,30000.0,Source Verified,0,car,...,0,Apr-99,5,3,0,1687,0.094,4,0.0,742
2,2400,36 months,84.33,C,10+ years,RENT,12252.0,Not Verified,1,small_business,...,0,Nov-01,2,2,0,2956,0.985,10,0.0,737
3,10000,36 months,339.31,C,10+ years,RENT,49200.0,Source Verified,1,other,...,0,Feb-96,1,10,0,5598,0.210,37,0.0,692
4,5000,36 months,156.46,A,3 years,RENT,36000.0,Source Verified,1,wedding,...,0,Nov-04,3,9,0,7963,0.283,12,0.0,732

In [3]:
null_counts = filtered_loans.isnull().sum()
print("Number of null values in each column:\n{}".format(null_counts))

Number of null values in each column:
loan_amnt                  0
term                       0
installment                0
grade                      0
emp_length              1057
home_ownership             0
annual_inc                 0
verification_status        0
loan_status                0
purpose                    0
addr_state                 0
dti                        0
delinq_2yrs                0
earliest_cr_line           0
inq_last_6mths             0
open_acc                   0
pub_rec                    0
revol_bal                  0
revol_util                50
total_acc                  0
pub_rec_bankruptcies     697
fico_average               0
dtype: int64

In [4]:
filtered_loans

,loan_amnt,term,installment,grade,emp_length,home_ownership,annual_inc,verification_status,loan_status,purpose,...,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,pub_rec_bankruptcies,fico_average
0,5000,36 months,162.87,B,10+ years,RENT,24000.00,Verified,1,credit_card,...,0,Jan-85,1,3,0,13648,0.8370,9,0.0,737
1,2500,60 months,59.83,C,< 1 year,RENT,30000.00,Source Verified,0,car,...,0,Apr-99,5,3,0,1687,0.0940,4,0.0,742
2,2400,36 months,84.33,C,10+ years,RENT,12252.00,Not Verified,1,small_business,...,0,Nov-01,2,2,0,2956,0.9850,10,0.0,737
3,10000,36 months,339.31,C,10+ years,RENT,49200.00,Source Verified,1,other,...,0,Feb-96,1,10,0,5598,0.2100,37,0.0,692
4,5000,36 months,156.46,A,3 years,RENT,36000.00,Source Verified,1,wedding,...,0,Nov-04,3,9,0,7963,0.2830,12,0.0,732
5,7000,60 months,170.08,C,8 years,RENT,47004.00,Not Verified,1,debt_consolidation,...,0,Jul-05,1,7,0,17726,0.8560,11,0.0,692
6,3000,36 months,109.43,E,9 years,RENT,48000.00,Source Verified,1,car,...,0,Jan-07,2,4,0,8221,0.8750,4,0.0,662
7,5600,60 months,152.39,F,4 years,OWN,40000.00,Source Verified,0,small_business,...,0,Apr-04,2,11,0,5210,0.3260,13,0.0,677
8,5375,60 months,121.45,B,< 1 year,RENT,15000.00,Verified,0,other,...,0,Sep-04,0,2,0,9279,0.3650,3,0.0,727
9,6500,60 months,153.45,C,5 years,OWN,72000.00,Not Verified,1,debt_consolidation,...,0,Jan-98,2,14,0,4032,0.2060,23,0.0,697
10,12000,36 months,402.54,B,10+ years,OWN,75000.00,Source Verified,1,debt_consolidation,...,0,Oct-89,0,12,0,23336,0.6710,34,0.0,677
11,9000,36 months,305.38,C,< 1 year,RENT,30000.00,Source Verified,0,debt_consolidation,...,0,Apr-04,1,4,0,10452,0.9170,9,0.0,712
12,3000,36 months,96.68,B,3 years,RENT,15000.00,Source Verified,1,credit_card,...,0,Jul-03,2,11,0,7323,0.4310,11,0.0,707
13,10000,36 months,325.74,B,3 years,RENT,100000.00,Source Verified,0,other,...,0,May-91,2,14,0,11997,0.5550,29,0.0,722
14,1000,36 months,35.31,D,< 1 year,RENT,28000.00,Not Verified,1,debt_consolidation,...,0,Sep-07,1,11,0,6524,0.8150,23,0.0,667
15,10000,36 months,347.98,C,4 years,RENT,42000.00,Not Verified,1,home_improvement,...,0,Oct-98,2,14,0,24043,0.7020,28,0.0,672
16,3600,36 months,109.57,A,10+ years,MORTGAGE,110000.00,Not Verified,1,major_purchase,...,0,Aug-93,0,20,0,22836,0.1600,42,0.0,762
17,6000,36 months,198.46,B,1 year,MORTGAGE,84000.00,Verified,1,medical,...,2,Oct-03,0,4,0,0,0.3773,14,0.0,687
18,9200,36 months,280.01,A,6 years,RENT,77385.19,Not Verified,1,debt_consolidation,...,0,Jan-01,0,8,0,7314,0.2310,28,0.0,757
19,20250,60 months,484.63,C,3 years,RENT,43370.00,Verified,1,debt_consolidation,...,0,Nov-97,3,8,0,17813,0.8560,22,0.0,727
20,21000,36 months,701.73,B,10+ years,RENT,105000.00,Verified,0,debt_consolidation,...,0,Feb-83,0,7,0,32135,0.9030,38,0.0,707
21,10000,36 months,330.76,B,10+ years,OWN,50000.00,Source Verified,1,credit_card,...,0,Jul-85,0,8,0,10056,0.8240,21,0.0,692
22,10000,36 months,330.76,B,5 years,RENT,50000.00,Not Verified,1,debt_consolidation,...,0,Apr-03,0,6,0,17800,0.9180,17,0.0,712
23,6000,36 months,198.46,B,1 year,RENT,76000.00,Not Verified,0,major_purchase,...,0,Jun-01,1,7,0,5963,0.2970,7,0.0,692
24,15000,36 months,483.38,B,2 years,MORTGAGE,92000.00,Verified,1,credit_card,...,0,Feb-02,0,8,0,13707,0.9390,31,0.0,732
25,15000,36 months,514.64,C,9 years,RENT,60000.00,Not Verified,0,debt_consolidation,...,0,Oct-03,1,7,0,5872,0.5760,11,0.0,697
26,5000,60 months,123.65,D,2 years,RENT,50004.00,Not Verified,0,other,...,3,Oct-03,0,14,0,4345,0.5950,22,0.0,677
27,4000,36 months,132.31,B,10+ years,MORTGAGE,106000.00,Not Verified,1,debt_consolidation,...,1,Aug-84,0,12,0,6110,0.3770,44,0.0,682
28,8500,36 months,281.15,B,< 1 year,RENT,25000.00,Source Verified,1,credit_card,...,0,Nov-06,0,8,0,6441,0.5910,12,0.0,697
29,4375,36 months,136.11,A,7 years,MORTGAGE,17108.00,Source Verified,1,debt_consolidation,...,0,Dec-87,0,6,0,11210,0.8690,12,0.0,737
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39209,12000,36 months,401.37,D,9 years,OWN,75000.00,Not Verified,1,credit_card,...,0,Apr-95,3,9,0,43039,0.9340,24,NaN,682
39210,20000,36 months,678.08,E,6 years,MORTGAGE,145000.00,Not Verified,0,credit_card,...,0,Jan-96,0,17,0,41674,0.7410,26,NaN,682
39211,1200,36 months,39.60,C,< 1 year,RENT,20000.00,Not Verified,1,credit_card,...,0,May-04,2,3,0,1153,0.7580,4,NaN,662
39212,12250,36 months,398.69,C,3 years,RENT,60000.00,Not Verified,1,small_business,...,1,Feb-69,2,10,0,17214,0.0810,24,NaN,747
39213,2700,36 months,94.88,F,1 year,RENT,52200.00,Not Verified,1,debt_consolidation,...,0,Aug-03,1,12,0,3075,0.9230,13,NaN,627
39214,5000,36 months,159.03,B,1 year,MORTGAGE,250000.00,Not Verified,1,other,...,2,Apr-03,0,5,0,14354,0.3660,7,NaN,712
39215,3500,36 months,112.87,B,< 1 year,RENT,13500.00,Not Verified,1,educational,...,0,Dec-02,1,10,0,2864,0.4110,16,NaN,712
39216,5000,36 months,155.38,A,8 years,MORTGAGE,150000.00,Not Verified,1,home_improvement,...,0,Dec-87,0,2,0,6053,0.1950,19,NaN,777
39217,5000,36 months,155.38,A,7 years,MORTGAGE,95000.00,Not Verified,1,vacation,...,0,Jul-00,0,8,0,3660,0.0680,16,NaN,772
39218,25000,36 months,813.65,C,2 years,RENT,48000.00,Not Verified,1,small_business,...,0,Jan-00,0,5,0,2422,0.2330,12,NaN,762
39219,10000,36 months,323.98,C,< 1 year,RENT,27376.00,Not Verified,1,small_business,...,0,Sep-03,0,4,0,3534,0.5440,4,NaN,712
39220,5000,36 months,159.03,B,1 year,RENT,73000.00,Not Verified,1,credit_card,...,0,Jan-99,0,21,0,23489,0.3760,28,NaN,722
39221,5100,36 months,160.72,A,4 years,RENT,32000.00,Not Verified,1,vacation,...,0,Jun-95,0,11,0,4737,0.2390,22,NaN,772
39222,5400,36 months,168.60,A,< 1 year,RENT,8000.00,Not Verified,1,educational,...,0,Mar-89,0,4,0,1321,0.1650,4,NaN,762
39223,5300,36 months,167.02,A,7 years,MORTGAGE,74000.00,Not Verified,1,credit_card,...,0,Feb-92,0,15,0,6844,0.1440,29,NaN,797
39224,5000,36 months,164.23,C,1 year,OWN,30000.00,Not Verified,1,credit_card,...,0,Apr-93,0,10,0,15840,0.4710,12,NaN,702
39225,3000,36 months,97.20,C,2 years,MORTGAGE,200000.00,Not Verified,1,home_improvement,...,1,Feb-97,0,5,0,0,0.0000,8,NaN,677
39226,3000,36 months,94.98,B,< 1 year,MORTGAGE,25000.00,Not Verified,1,small_business,...,0,Sep-00,1,10,0,3660,0.0780,13,NaN,752
39227,5000,36 months,155.38,A,8 years,MORTGAGE,120000.00,Not Verified,1,debt_consolidation,...,0,Oct-97,0,8,0,8379,0.1690,16,NaN,777
39228,5000,36 months,156.84,A,< 1 year,MORTGAGE,180000.00,Not Verified,1,home_improvement,...,0,Jun-96,0,12,0,40934,0.2630,39,NaN,742
39229,5000,36 months,159.77,B,2 years,MORTGAGE,180000.00,Not Verified,1,home_improvement,...,0,Feb-95,1,16,0,60568,0.3920,38,NaN,717
39230,5000,36 months,161.25,B,4 years,MORTGAGE,48000.00,Not Verified,1,debt_consolidation,...,0,Aug-95,1,6,0,28329,0.4860,6,NaN,707
39231,5000,36 months,164.23,C,< 1 year,OWN,80000.00,Not Verified,1,credit_card,...,0,Jul-96,3,15,1,27185,0.1610,29,NaN,672
39232,5000,36 months,155.38,A,1 year,OWN,85000.00,Not Verified,1,credit_card,...,0,Oct-97,0,7,0,216,0.0060,19,NaN,787
39233,5000,36 months,158.30,B,5 years,MORTGAGE,75000.00,Not Verified,1,credit_card,...,0,May-94,0,10,0,66033,0.2300,29,NaN,757
39234,2500,36 months,78.42,A,4 years,MORTGAGE,110000.00,Not Verified,1,home_improvement,...,0,Nov-90,0,13,0,7274,0.1310,40,NaN,762
39235,8500,36 months,275.38,C,3 years,RENT,18000.00,Not Verified,1,credit_card,...,1,Dec-86,1,6,0,8847,0.2690,9,NaN,692
39236,5000,36 months,156.84,A,< 1 year,MORTGAGE,100000.00,Not Verified,1,debt_consolidation,...,0,Oct-98,0,11,0,9698,0.1940,20,NaN,742
39237,5000,36 months,155.38,A,< 1 year,MORTGAGE,200000.00,Not Verified,1,other,...,0,Nov-88,0,17,0,85607,0.0070,26,NaN,812
39238,7500,36 months,255.43,E,< 1 year,OWN,22000.00,Not Verified,1,debt_consolidation,...,1,Oct-03,0,7,0,4175,0.5150,8,NaN,662

In [8]:
filtered_loans.mean()

loan_amnt               11134.730115
installment               323.273499
annual_inc              68884.323399
loan_status                 0.855934
dti                        13.293984
delinq_2yrs                 0.146563
inq_last_6mths              0.870359
open_acc                    9.286501
pub_rec                     0.055404
revol_bal               13329.338898
revol_util                  0.487377
total_acc                  22.072428
pub_rec_bankruptcies        0.043459
fico_average              717.000765
dtype: float64

In [9]:
filtered_loans.fillna(filtered_loans.mean(), inplace=True)

In [10]:
null_counts = filtered_loans.isnull().sum()
print("Number of null values in each column:\n{}".format(null_counts))

Number of null values in each column:
loan_amnt                  0
term                       0
installment                0
grade                      0
emp_length              1057
home_ownership             0
annual_inc                 0
verification_status        0
loan_status                0
purpose                    0
addr_state                 0
dti                        0
delinq_2yrs                0
earliest_cr_line           0
inq_last_6mths             0
open_acc                   0
pub_rec                    0
revol_bal                  0
revol_util                 0
total_acc                  0
pub_rec_bankruptcies       0
fico_average               0
dtype: int64

In [15]:
# Imputation of missing values for categories in pandas
filtered_loans.fillna(filtered_loans.mode().iloc[0], inplace=True)

In [16]:
null_counts = filtered_loans.isnull().sum()
print("Number of null values in each column:\n{}".format(null_counts))

Number of null values in each column:
loan_amnt               0
term                    0
installment             0
grade                   0
emp_length              0
home_ownership          0
annual_inc              0
verification_status     0
loan_status             0
purpose                 0
addr_state              0
dti                     0
delinq_2yrs             0
earliest_cr_line        0
inq_last_6mths          0
open_acc                0
pub_rec                 0
revol_bal               0
revol_util              0
total_acc               0
pub_rec_bankruptcies    0
fico_average            0
dtype: int64